pandas
progressbar2
python-utils
tensorflow
numpy
matplotlib
scipy
paramiko >= 2.1
pysftp
sox
python_speech_features
pyxdg
bs4
six
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
